.formContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #ebebeb;
    box-sizing: border-box;
}

.title {
    font-size: 20px;
    text-align: center;
    font-weight: 900;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    width: 100%;
}

.inputText {
    padding: 0px 0px;
    background-color: #1B1B1B;
    width: 100%;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 20px;
}

.optionsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.customCheckboxContainer {
    flex: 0 0 calc(50% - 5px);
    box-sizing: border-box;
}

@media (min-width: 1000px) {
    .customCheckboxContainer {
        flex: 0 0 calc(25% - 7.5px);
    }
}

.hiddenCheckbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

.customCheckboxLabel {
    padding: 0px 0px;
    background-color: #1B1B1B;
    width: 100%;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.customCheckboxBox {
    width: 12px;
    height: 12px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: black;
}

.customCheckboxInBox {
    width: 100%;
    color: black;
}

.buttonSubmit {
    background-color: #FFE13A;
    color: black;
    font-size: 12px;
    font-weight: 900;
    padding: 10px 0;
    border-radius: 20PX;
    cursor: pointer;
}

.customCheckboxLabel:hover {
    background-color: #1f1f1f;
}

.hiddenCheckbox:checked + .customCheckboxLabel {
    background-color: #2D2D2D;
}

.hiddenCheckbox:checked + .customCheckboxLabel .customCheckboxInBox {
    color: #FFE13A;
}