.videoSection {
    width: 100%;
    padding: 20px 20px; 
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.videoContainer {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.102);
    max-width: 600px;
}

.video {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    transform: scale(1.02);
}