.beneficiosContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 20px;
}

.clientSection {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 16px;
    font-weight: 900;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}
.list :global(li) {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

.icon {
    font-size: 25px;
}